body,
footer {
    text-align: center;
    background-color: antiquewhite;
}

header {
    text-align: center;
    max-width: 600px;
    border: 1px solid brown;
    border-radius: 30px;
    margin: 90px auto;
    padding: 120px;
}

footer a {

    text-decoration: none;
    color: green;
}